/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';

import './{{ properCase name }}.css';

class {{ properCase name }} extends {{{ type }}} {
  render() {
    return (
      <div>
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
  active: PropTypes.bool
};

export default {{ properCase name }};
