/**
*
* {{ properCase name }}
*
*/

import React from 'react';
import PropTypes from 'prop-types';

import './{{ properCase name }}.css';

function {{ properCase name }}() {
  return (
    <div>
    </div>
  );
}

{{ properCase name }}.propTypes = {
  active: PropTypes.bool
};

export default {{ properCase name }};
