/*
 *
 * {{properCase name }}
 *
 */

import React from 'react';
import PropTypes from 'prop-types';
import { connect } from 'react-redux';
{{#if wantHeaders}}
import { Helmet } from 'react-helmet';
{{/if}}

{{#if wantActionsAndReducer}}
import { defaultAction } from "./actions";
{{/if}}

export class {{ properCase name }} extends React.{{{ component }}} {
  render() {
    return (
      <div>
      {{#if wantHeaders}}
        <Helmet>
          <title>{{properCase name}}</title>
          <meta name="description" content="Description of {{properCase name}}" />
        </Helmet>
      {{/if}}
      </div>
    );
  }
}

{{ properCase name }}.propTypes = {
  dispatch: PropTypes.func.isRequired,
};

{{#if wantActionsAndReducer}}
const mapStateToProps = state => ({
  myProperty: state.app.myProperty
});

const mapDispatchToProps = dispatch => ({
  defaultAction: () => dispatch(defaultAction()),
});

export default connect(
  mapStateToProps,
  mapDispatchToProps
)({{ properCase name }});
{{/if}}
